openapi: '3.0.0'
info:
  title: LibreChat Code Interpreter API
  version: '1.0.0'
  description: >-
    API for sandbox code execution and file management. Trusted callers should
    assert the intended deployment with X-CodeAPI-Expected-Profile on every
    request; responses advertise the actual profile.
servers:
  - url: https://api.librechat.ai/v1
    description: LibreChat API server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    ExpectedExecutionProfile:
      name: X-CodeAPI-Expected-Profile
      in: header
      required: false
      description: >-
        Trusted routing assertion. A mismatched endpoint returns HTTP 409
        before any work is enqueued. Optional only for backwards compatibility.
      schema:
        type: string
        enum: [default, stateful]

  headers:
    ExecutionProfile:
      description: Execution profile served by this deployment.
      schema:
        type: string
        enum: [default, stateful]

  responses:
    BadRequest:
      description: Invalid request or invalid expected execution profile
      headers:
        X-CodeAPI-Execution-Profile:
          $ref: '#/components/headers/ExecutionProfile'
      content:
        application/json:
          schema:
            anyOf:
              - $ref: '#/components/schemas/Error'
              - $ref: '#/components/schemas/ExecutionProfileError'
    Conflict:
      description: Request conflict or execution-profile mismatch
      headers:
        X-CodeAPI-Execution-Profile:
          $ref: '#/components/headers/ExecutionProfile'
      content:
        application/json:
          schema:
            anyOf:
              - $ref: '#/components/schemas/Error'
              - $ref: '#/components/schemas/ExecutionProfileError'

  schemas:
    FileRef:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        path:
          type: string

    RequestFile:
      type: object
      properties:
        id:
          type: string
        session_id:
          type: string
        name:
          type: string
      required:
        - id
        - session_id
        - name

    ExecuteResponse:
      type: object
      properties:
        run:
          type: object
          properties:
            stdout:
              type: string
            stderr:
              type: string
            code:
              type: integer
              nullable: true
            signal:
              type: string
              nullable: true
            output:
              type: string
            memory:
              type: integer
              nullable: true
            message:
              type: string
              nullable: true
            status:
              type: string
              nullable: true
            cpu_time:
              type: number
              nullable: true
            wall_time:
              type: number
              nullable: true
        language:
          type: string
        version:
          type: string
        session_id:
          type: string
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileRef'

    RequestBody:
      type: object
      required:
        - code
        - lang
      properties:
        code:
          type: string
        lang:
          type: string
        args:
          type: array
          items:
            type: string
        user_id:
          type: string
        entity_id:
          type: string
        files:
          type: array
          items:
            $ref: '#/components/schemas/RequestFile'
        runtime_session_hint:
          type: string
          maxLength: 128
          pattern: '^[A-Za-z0-9._:-]+$'
          description: >-
            Stable opaque hint for stateful runtime reuse. The server binds it
            to the authenticated tenant and user. Required in strict runtime
            session mode and ignored by the default stateless profile.

    FileObject:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        session_id:
          type: string
        content:
          type: string
        size:
          type: number
        lastModified:
          type: string
        etag:
          type: string
        metadata:
          type: object
          properties:
            content-type:
              type: string
            original-filename:
              type: string
        contentType:
          type: string

    UploadResponse:
      type: object
      properties:
        message:
          type: string
        session_id:
          type: string
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileObject'

    Error:
      type: object
      properties:
        error:
          type: string
        details:
          type: string
        message:
          type: string

    ExecutionProfileError:
      type: object
      required: [error, message, actual_profile]
      properties:
        error:
          type: string
          enum: [invalid_execution_profile, execution_profile_mismatch]
        message:
          type: string
        expected_profile:
          type: string
        actual_profile:
          type: string
          enum: [default, stateful]

    NpmUnitRequest:
      type: object
      additionalProperties: false
      required: [name, version, integrity, resolved, keep]
      properties:
        name:
          type: string
          description: Lowercase unscoped name or one @scope/package pair.
        version:
          type: string
          description: Exact semantic version; ranges and tags are refused.
        integrity:
          type: string
          pattern: '^sha512-'
          description: One canonical SHA-512 SRI digest verified before decompression.
        resolved:
          type: string
          format: uri
          description: Exact name@version tarball URL on the configured registry origin.
        keep:
          type: array
          minItems: 2
          maxItems: 2
          uniqueItems: true
          description: Must contain exactly **/*.d.ts and package.json.
          items:
            type: string
            enum: ['**/*.d.ts', 'package.json']

    NpmUnitRejected:
      type: object
      required: [link, device, unsafePath, oversize, other]
      properties:
        link: { type: integer, minimum: 0 }
        device: { type: integer, minimum: 0 }
        unsafePath: { type: integer, minimum: 0 }
        oversize: { type: integer, minimum: 0 }
        other: { type: integer, minimum: 0 }

    NpmUnitUsage:
      type: object
      required: [tarballBytes, unpackedBytes, peakRssBytes, wallMs]
      properties:
        tarballBytes: { type: integer, minimum: 0 }
        unpackedBytes: { type: integer, minimum: 0 }
        peakRssBytes: { type: integer, minimum: 0 }
        cgroupPeakBytes:
          type: integer
          minimum: 0
          description: Peak memory charged to the fresh per-request cgroup, including descendants.
        wallMs: { type: integer, minimum: 0 }

    NpmUnitFailureUsage:
      type: object
      description: Parent-observed usage may be partial when the jailed process is terminated.
      properties:
        tarballBytes: { type: integer, minimum: 0 }
        unpackedBytes: { type: integer, minimum: 0 }
        peakRssBytes: { type: integer, minimum: 0 }
        cgroupPeakBytes: { type: integer, minimum: 0 }
        wallMs: { type: integer, minimum: 0 }

    NpmUnitSuccess:
      type: object
      required: [status, name, version, integrityVerified, files, symbols, imports, rejected, usage]
      properties:
        status:
          type: string
          enum: [complete, partial]
        name: { type: string }
        version: { type: string }
        integrityVerified: { type: boolean, enum: [true] }
        files:
          type: array
          items:
            type: object
            required: [path, sha1, bytes]
            properties:
              path: { type: string }
              sha1: { type: string, pattern: '^[0-9a-f]{40}$' }
              bytes: { type: integer, minimum: 0 }
        symbols:
          type: array
          description: Deterministically ordered by file, then declaration order.
          items:
            type: object
            required: [file, ordinal, label, name, startLine, endLine, isExported, signature, tokens]
            properties:
              file: { type: string }
              ordinal: { type: integer, minimum: 0 }
              label: { type: string }
              name: { type: string }
              startLine: { type: integer, minimum: 1 }
              endLine: { type: integer, minimum: 1 }
              isExported: { type: boolean }
              signature: { type: string }
              tokens: { type: string }
        imports:
          type: array
          items:
            type: object
            required: [file, spec]
            properties:
              file: { type: string }
              spec: { type: string }
        rejected:
          $ref: '#/components/schemas/NpmUnitRejected'
        usage:
          $ref: '#/components/schemas/NpmUnitUsage'
        errors:
          type: array
          items:
            type: object
            required: [code, message]
            properties:
              file: { type: string }
              code: { type: string, enum: [parse_failed] }
              message: { type: string }

    NpmUnitFailure:
      type: object
      required: [error, message, retryable]
      properties:
        error:
          type: string
          enum: [integrity_mismatch, not_publicly_fetchable, registry_unavailable, too_large, decompression_limit, timeout, unsafe_entry, parse_failed, invalid_request, unsupported_registry, disabled, sandbox_unavailable]
        message: { type: string }
        retryable: { type: boolean }
        rejected:
          $ref: '#/components/schemas/NpmUnitRejected'
        usage:
          $ref: '#/components/schemas/NpmUnitFailureUsage'

paths:
  /sandbox/npm-unit:
    post:
      summary: Index an exact npm package declaration surface
      description: >-
        Fetches one anonymously readable tarball from registry.npmjs.org through a short-lived exact-package
        capability, verifies SHA-512 before decompression, and parses only
        TypeScript declarations in a fresh network-disabled sandbox. The
        request carries no tenant context and is dispatched synchronously
        without a persisted job or result; the feature is disabled by default.
      operationId: indexNpmUnit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NpmUnitRequest'
      responses:
        '200':
          description: Complete or explicitly partial deterministic surface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NpmUnitSuccess'
        '400':
          description: Invalid or non-canonical request.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NpmUnitFailure' }
        '404':
          description: Exact package tarball not found.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NpmUnitFailure' }
        '413':
          description: Tarball, decompressed archive, file, entry, or output limit exceeded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NpmUnitFailure' }
        '422':
          description: Integrity, archive-safety, or parse failure.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NpmUnitFailure' }
        '501':
          description: The configured sandbox backend does not support this stateless route.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NpmUnitFailure' }
        '502':
          description: Terminal registry policy refusal or internal dispatch misconfiguration.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NpmUnitFailure' }
        '503':
          description: Feature disabled or retryable registry/sandbox outage.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NpmUnitFailure' }
        '504':
          description: Fetch or parse wall-clock limit exceeded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NpmUnitFailure' }

  /exec:
    post:
      summary: Execute code
      description: Execute code with specified language and parameters
      operationId: executeCode
      parameters:
        - $ref: '#/components/parameters/ExpectedExecutionProfile'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody'
      responses:
        '200':
          description: Successful execution
          headers:
            X-CodeAPI-Execution-Profile:
              $ref: '#/components/headers/ExecutionProfile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /download/{session_id}/{fileId}:
    get:
      summary: Download a file
      parameters:
        - $ref: '#/components/parameters/ExpectedExecutionProfile'
        - name: session_id
          in: path
          required: true
          schema:
            type: string
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File content
          headers:
            X-CodeAPI-Execution-Profile:
              $ref: '#/components/headers/ExecutionProfile'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /upload:
    post:
      summary: Upload files
      parameters:
        - $ref: '#/components/parameters/ExpectedExecutionProfile'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                entity_id:
                  type: string
                files:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: Successful upload
          headers:
            X-CodeAPI-Execution-Profile:
              $ref: '#/components/headers/ExecutionProfile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '413':
          description: File size limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /files/{session_id}:
    get:
      summary: Get files information
      parameters:
        - $ref: '#/components/parameters/ExpectedExecutionProfile'
        - name: session_id
          in: path
          required: true
          schema:
            type: string
        - name: detail
          in: query
          schema:
            type: string
            default: simple
      responses:
        '200':
          description: Files information
          headers:
            X-CodeAPI-Execution-Profile:
              $ref: '#/components/headers/ExecutionProfile'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /files/{session_id}/{fileId}:
    delete:
      summary: Delete a file
      parameters:
        - $ref: '#/components/parameters/ExpectedExecutionProfile'
        - name: session_id
          in: path
          required: true
          schema:
            type: string
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File deleted successfully
          headers:
            X-CodeAPI-Execution-Profile:
              $ref: '#/components/headers/ExecutionProfile'
        '500':
          description: Error deleting file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
